body {
  background-color: lightblue;
  color: black;
}

#menuToggler {
  font-size: 2em;
  margin: 0.25em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  transform: translateX(100vh);
  transition: 0.5s;
  position: fixed;
  width: 100%;
  top: 0;
}

nav.open {
  transform: translateX(0);
  background-color: rgba(237, 235, 230, 0.7);
}

nav a {
  margin: 0.5em;
  padding-right: 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

p {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1em;
}

@media screen and (min-width: 500px) {

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    transform: translateX(0);
    background-color: rgba(237, 235, 230, 0.7);
  }

}
